<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<style>
		a {
			text-decoration: none;
			cursor: pointer;
			color: #AFEEEE;
		}

		a:hover {
			text-decoration: underline;
		}

		a:active {
			color: #AFEEEE;
		}
		</style>
	</head>
	<body>
		<div id="header">
			<h1>Formula-1 Monaco 2018 Racing </h1>
		</div>

		<div id="nav">
			<ul>
				<li><a href="{{ url_for('report_form') }}">common statistic</a></li>
				<li><a href="{{ url_for('drivers_form') }}">list of drivers</a></li>
			</ul>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>