{% extends "base.html" %}

{% block title %}
	All drivers
{% endblock%}

{% block body %}
	<form method="get" action="{{ url_for('drivers_report') }}">
		<div>
            <label for="order">What order of presenting results would you like to see (ascending - asc, descending - desc)?</label>
            <input type="submit" name="order" id="order" value="asc">
            <input type="submit" name="order" id="order" value="desc">
        </div>
    </form>

    <h3>Click driver's ID in order to see complete information about him.</h3>

    <form method="get" action="{{ url_for('drivers_report') }}">
    	<table class="linked-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Driver's name</th>
				</tr>
			</thead>
			<tbody>
				{% for driver in the_result %} 
					<tr>
						<td><input type="submit" name="driver_id" id="driver_id" value="{{ driver.id }}"></td>
						<td>{{ driver.name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>

{% endblock %}

