{% extends "base.html" %}

{% block title %}
	All drivers
{% endblock%}

{% block body %}
	<p>You have chosen the following order: {{ the_order }}</p>
    
    <table class="unnumbered">
	    <thead>
	        <tr>
	            <th>ID </th>
	            <th>Driver's name </th>
	        </tr>
	    </thead>
	    <tbody>
	        {% for driver in the_result %} 
	            <tr>
	                <td>{{ driver.id }}</td>
	                <td>{{ driver.name }}</td>
	            </tr>
	        {% endfor %}
	    </tbody>
	</table>
    
{% endblock %}


