{% extends "base.html" %}

{% block title %}
    Statistic
{% endblock%}

{% block body %}
    <p>You have chosen the following order: {{ the_order }}</p>
    
    <table class="numbered">
        <thead>
            <tr>
                <th>Place </th>
                <th>ID </th>
                <th>Driver's name </th>
                <th>Car </th>
                <th>Start time </th>
                <th>Finish time </th>
                <th>Lap time </th>
            </tr>
        </thead>
        <tbody>
            {% for driver in the_result %} 
                <tr>
                    <td>{{ driver.place }}</td>
                    <td>{{ driver.id }}</td>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.car }}</td>
                    <td>{{ driver.start_time }}</td>
                    <td>{{ driver.end_time }}</td>
                    <td>{{ driver.delta_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}